<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico"/>
    <title>雪花秀的品牌故事</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/about.css">
    <link rel="stylesheet" href="../../public/css/product.css">
</head>
<body style="overflow-y: hidden">


    <div id="about_box">
        <ul id="about_scroll">
            <li>
                <a href="javascript:void(0);" class="about_abg_active">
                    <span>Prologue</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Origin</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Artisan</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Harmony & Balance</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Ideal Beauty</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Beauty from Your Culture</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>Eternity</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" id="about_all_page"></a>
            </li>
        </ul>
        <div id="about_head">
            {%include 'top.html'%}

            {%block main%}
        </div>
        <div class="about_page about_first" style="top: 0">
            <img src="../../public/image/about_files/visual-obje.jpg" id="about_pic1"/>
            <img src="../../public/image/about_files/visual-obje.jpg" id="about_pic2"/>
            <img src="../../public/image/about_files/visual-obje.jpg" id="about_pic3"/>
            <div id="about_word">
                <div id="about_move">
                    <p>
                        <span>雪</span>
                        <span>花</span>
                        <span>秀</span>
                    </p>
                    <small>雪花的雪</small>
                    <small>花朵的花</small>
                    <small>优秀的秀</small>
                </div>
                <div id="about_poem">
                    在雪中绽放的<br/>
                    梅花,<br/>
                    傲立于冰雪的<br/>
                    坚韧之美<br/>
                </div>
            </div>
            <div class="about_drag" id="about_drag_down">
                <a href="javascript:void(0);">下拉查看更多</a>
                <a href="javascript:void(0);" style="font-size: 2em;">|</a>
            </div>
        </div>
        <div class="about_page">
            <video src="../../public/image/about_files/video_origin.mp4" muted loop autoplay></video>
            <div class="about_fixed">
                <h1>Origin</h1>
                <p>
                    用时间与热情的记录<br/>
                    对真正美丽的追求
                </p>
            </div>
        </div>
        <div class="about_page about_padding60 about_bgW">
            <div class="about_page_bg"></div>
            <h3>Origin</h3>
            <h3>源自于蕴含自然能量与生命力的亚洲智慧，雪花秀开启追求真正之美的旅程。</h3>
            <div class="about_menu">
                <ul class="about_ul_bar">
                    <li>
                        <img src="../../public/image/about_files/img_origin_1966.jpg"/>
                        <h3>1966</h3>
                        <span>雪花秀的前身“ABC人参面霜”首度问世。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_1973.jpg"/>
                        <h3>1973</h3>
                        <span>蕴含人参皂苷的创新护肤品&lt;人参参美&gt;问市。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_1981.jpg"/>
                        <h3>1981</h3>
                        <span>推出全新&lt;参美真&gt;，并出口至海外25个国家与地区。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_1998.jpg"/>
                        <h3>1987</h3>
                        <span>蕴含东方珍贵草本的&lt;雪花&gt;品牌应运而生。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_2004.jpg"/>
                        <h3>2004</h3>
                        <span>针对7年周期理论进行研究，将先进科技和亚洲草本缔结，成就了“雪花秀”。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_2009.jpg"/>
                        <h3>2009</h3>
                        <span>以更时尚的设计和高端的产品升级品牌形象。</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/img_origin_present.jpg"/>
                        <h3>如今</h3>
                        <span>亚洲的智慧风靡全球。</span>
                    </li>
                </ul>
            </div>
            <div id="about_drag_box">
                <span id="about_dragR"  style="cursor: pointer;"></span>
            </div>
            <div class="about_more">
                <a href="javascript:void(0);" class="about_more_a1">查看更多</a>
                <a href="javascript:void(0);"><img src="../../public/image/about_files/bg-btn-more-pc.png"/></a>
            </div>
        </div>
        <div class="about_page">
            <img src="../../public/image/about_files/bg-cover-artisan-pc.jpg"/>
            <div class="about_fixed">
                <h1>Artisan</h1>
                <p>
                    长期潜心研究的成果<br/>
                    雪花秀原料原则
                </p>
            </div>
        </div>
        <div class="about_page about_padding60 about_bgW">
            <div class="about_page_bg"></div>
            <h3>Artisan</h3>
            <h3>融汇珍贵的草本原料，通过雪花秀固守的原料原则，实现了草本的功效加乘。</h3>
            <div class="about_menu" style="padding-top: 40px">
                <ul class="about_ul_pic">
                    <li id="about_ginseng">
                        <h3>人参</h3>
                        <p>传承成分</p>
                        <p class="about_pic_bottom">为肌肤注入强大生命能量的名贵草本原料</p>
                    </li>
                    <li id="about_jaeumdan">
                        <h3>滋盈凝萃复合体™</h3>
                        <p>核心成分</p>
                        <p class="about_pic_bottom">回复肌肤平衡的5种珍贵原料的奥秘</p>
                    </li>
                    <li id="about_redPine">
                        <h3>赤松</h3>
                        <p>珍稀成分</p>
                        <p class="about_pic_bottom">留驻时光的自然能量</p>
                    </li>
                </ul>
            </div>
            <div class="about_more">
                <a href="#">查看更多</a>
                <a href="#"><img src="../../public/image/about_files/bg-btn-more-pc.png"/></a>
            </div>
        </div>
        <div class="about_page">
            <div class="about_image">
                <img src="../../public/image/about_files/c1.png" id="about_c1"/>
                <img src="../../public/image/about_files/r2.png" id="about_r2"/>
                <img src="../../public/image/about_files/l2.png" id="about_l2"/>
                <img src="../../public/image/about_files/r1.png" id="about_r1"/>
                <img src="../../public/image/about_files/l1.png" id="about_l1"/>
                <img src="../../public/image/about_files/c2.png" id="about_c2"/>
            </div>
            <div class="about_fixed about_colorB">
                <h1>Harmony & Balance</h1>
                <p>
                    和谐与平衡，<br/>
                    雪花秀蕴含亚洲智慧的调和之美
                </p>
            </div>
        </div>
        <div class="about_page about_padding60 about_bgW">
            <h3>Harmony & Balance</h3>
            <h3>雪花秀追求自然与人的和谐、身与心平衡的调和之美。</h3>
            <div class="about_menu">
                <ul class="about_ul_img">
                    <li id="about_img_1" class="about_img_show">
                        <div class="about_img_info">
                            <p style="margin-top: 30px;">明星产品</p>
                            <p style="font-size: 2em;font-family: 宋体">Skincare</p>
                            <p>
                                传递和谐与<br/>
                                平衡之美的<br/>
                                雪花秀明星产品<br/>
                            </p>
                        </div>
                    </li>
                    <li id="about_img_2">
                        <div class="about_img_info">
                            <p style="margin-top: 30px;">全方位护理商品</p>
                            <p style="font-size: 2em;font-family: 宋体">Holistic Care</p>
                            <p>
                                调和身心的<br/>
                                全方位护理<br/>
                                商品<br/>
                            </p>
                        </div>
                    </li>
                    <li id="about_img_3">
                        <div class="about_img_info">
                            <p style="margin-top: 30px;">美容法</p>
                            <p style="font-size: 2em;font-family: 宋体">Beauty Ritual</p>
                            <p>
                                细腻奢华的<br/>
                                质地与美容手法<br/>
                                雪花秀美容房<br/>
                            </p>
                        </div>
                    </li>
                    <li id="about_img_4">
                        <div class="about_img_info">
                            <p style="margin-top: 30px;">雪花秀美容房</p>
                            <p style="font-size: 2em;font-family: 宋体">Sulwhasoo SPA</p>
                            <p>
                                体验<br/>
                                调和之美美容<br/>
                                法的精髓<br/>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <ul id="about_pic_btn">
                <li><a href="javascript:void(0)" onMouseOver="show(1)" onMouseOut="start()" class="about_pb_active"></a></li>
                <li><a href="javascript:void(0)" onMouseOver="show(2)" onMouseOut="start()"></a></li>
                <li><a href="javascript:void(0)" onMouseOver="show(3)" onMouseOut="start()"></a></li>
                <li><a href="javascript:void(0)" onMouseOver="show(4)" onMouseOut="start()"></a></li>
            </ul>
            <div class="about_more">
                <a href="#">查看更多</a>
                <a href="#"><img src="../../public/image/about_files/bg-btn-more-pc.png"/></a>
            </div>
        </div>
        <div class="about_page">
            <img src="../../public/image/about_files/bg-cover-ideal-pc.jpg"/>
            <div class="about_fixed about_colorB">
                <h1>Ideal Beauty</h1>
                <p>
                    调和之美<br>
                    雪花秀原料原则
                </p>
            </div>
        </div>
        <div class="about_page about_padding60 about_bgW">
            <div class="about_page_bg"></div>
            <h3>Ideal Beauty</h3>
            <h3>雪花秀的设计理念是以现代方式诠释韩国传统美学。</h3>
            <div class="about_menu" style="padding-top: 40px">
                <ul class="about_ul_bar" id="about_ul_bar2">
                    <li>
                        <img src="../../public/image/about_files/1.jpg"/>
                        <h3>标志</h3>
                        <span>细腻与坚韧的调和</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/2.jpg"/>
                        <h3>图案</h3>
                        <span>曲线与直线的美丽平衡</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/3.jpg"/>
                        <h3>外形</h3>
                        <span>优雅的曲线</span>
                    </li>
                    <li>
                        <img src="../../public/image/about_files/4.jpg"/>
                        <h3>颜色</h3>
                        <span>
                                    从自然中获取灵感的神秘<br/>
                                    颜色
                                </span>
                    </li>
                </ul>
            </div>
            <div class="about_more">
                <a href="javascript:void(0);" class="about_more_a1">查看更多</a>
                <a href="javascript:void(0);"><img src="../../public/image/about_files/bg-btn-more-pc.png"/></a>
            </div>
        </div>
        <div class="about_page">
            <img src="../../public/image/about_files/bg-cover-beauty-pc.jpg"/>
            <div class="about_fixed">
                <h1>Beauty from Your Culture</h1>
                <p>
                    我们的根基<br/>
                    —美丽的文化继承
                </p>
            </div>
        </div>
        <div class="about_page about_padding60 about_bgW">
            <div class="about_page_bg"></div>
            <h3>Beauty from Your Culture</h3>
            <h3>通过继承我们的根基—美丽的文化，创造传统与现代共存，更具价值的文化。</h3>
            <div class="about_menu" style="padding-top: 20px">
                <ul class="about_ul_pic" style="height: 400px">
                    <li id="about_art">
                        <h3>艺术广告</h3>
                        <p>Art Collaboration</p>
                        <p class="about_pic_bottom">
                            传统匠人与现代艺术家合作，开展重新诠释韩<br/>
                            式美丽的国际广告。
                        </p>
                    </li>
                    <li id="about_shine" style="color: black">
                        <h3 style="color: black">丝斓彩妆</h3>
                        <p>Shine Classic Makeup</p>
                        <p class="about_pic_bottom">
                            将韩国传统图案、素材及手工艺用现代美学重<br/>
                            新诠释的高端限量版产品。
                        </p>
                    </li>
                    <li id="about_culture" style="color: black">
                        <h3 style="color: black">雪花文化展</h3>
                        <p>Culture Exhibition</p>
                        <p class="about_pic_bottom">
                            以现代化的多种视角重新诠释传统文化，引起<br/>
                            各年代人产生共鸣的文化沟通空间。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="about_more">
                <a href="javascript:void(0);" class="about_more_a1">查看更多</a>
                <a href="javascript:void(0);"><img src="../../public/image/about_files/bg-btn-more-pc.png"/></a>
            </div>
        </div>
        <div class="about_page" id="about_last">
            <div class="about_fixed about_colorB about_ani_hide">
                <h1>Eternity</h1>
                <p>超越时空的</p>
                <p>恒久之美</p>
            </div>
            <ul id="about_last_word2">
                <li>
                    <h1>Holistic Beauty from Asian Wisdom</h1>
                    <h1>Sulwhasoo</h1>
                </li>
                <li class="about_top_show" id="about_top160">
                    <p style="margin-top: 20px">蕴含亚洲智慧的雪花秀调和之美，</p>
                    <p>传承50年凝聚时间与空间的美丽感动。</p>
                </li>
            </ul>
            <div class="about_drag" id="about_drag_up">
                <a href="javascript:void(0);">TOP</a>
                <a href="javascript:void(0);" style="font-size: 2em;">|</a>
            </div>
        </div>
        <div id="about_all_pages">
            <div class="about_little_page about_colorW" id="about_page1" style="cursor: pointer;">
                <h2>Origin</h2>
                <div class="about_bgG">
                    <p>
                        用时间与热情的记录<br/>
                        对真正美丽的追求
                    </p>
                </div>
            </div>
            <div class="about_little_page about_colorW" id="about_page2" style="cursor: pointer;">
                <h2>Artisan</h2>
                <div class="about_bgG">
                    <p>
                        长期潜心研究的成果<br/>
                        雪花秀原料原则
                    </p>
                </div>
            </div>
            <div class="about_little_page" id="about_page3" style="cursor: pointer;">
                <h2>Harmony & Balance</h2>
                <div class="about_bgG about_colorW">
                    <p>
                        和谐与平衡，<br/>
                        雪花秀蕴含亚洲智慧的调和之美
                    </p>
                </div>
            </div>
            <div class="about_little_page" id="about_page4" style="cursor: pointer;">
                <h2>Ideal Beauty</h2>
                <div class="about_bgG about_colorW">
                    <p>
                        调和之美<br/>
                        源于亚洲智慧
                    </p>
                </div>
            </div>
            <div class="about_little_page about_colorW" id="about_page5" style="cursor: pointer;">
                <h2>Beauty from Your <br/>Culture</h2>
                <div class="about_bgG">
                    <p>
                        我们的根基<br/>
                        ——美丽的文化继承
                    </p>
                </div>
            </div>
            <div class="about_little_page" id="about_page6" style="cursor: pointer;">
                <h2>Eternity</h2>
                <div class="about_bgG about_colorW">
                    <p>
                        超越时空的<br/>
                        恒久之美
                    </p>
                </div>
            </div>
            <a href="javascript:void(0);" id="about_close_pages" class="about_close_ps"></a>
        </div>
        <div id="about_more_page">
            <h3>Origin</h3>
            <div class="about_page_info" id="about_page_info1">
                <img src="../../public/image/about_files/img-layer-detail-1966-01-01.jpg" style="display: inline-block"/>
                <img src="../../public/image/about_files/img-layer-detail-1966-01-02.jpg"/>
                <img src="../../public/image/about_files/img-layer-detail-1966-01-03.jpg"/>
                <img src="../../public/image/about_files/img-layer-detail-1966-01-04.jpg"/>
                <ul>
                    <li class="about_img_active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <h1>1966</h1>
                <p>徐成焕与<span>ABC</span>人参面霜的诞生</p>
                <span>徐成焕先生在以高丽参闻名的开城度过了年幼时期。从小，创始人徐成焕先生在他母亲的耳濡目染下，从小就对自然草本的价值有独到的见解。他领悟到自然的价值，并培养了挑选优质原料的独到眼光。长大后，徐成焕先生决心以韩国代表性草本“人参”为原料研发护肤品。1966年，雪花秀的前身“ABC人参面霜”由此诞生。</span>
            </div>
            <div class="about_page_info" id="about_page_info2">
                <img src="../../public/image/about_files/img-layer-detail-1973-01-01.jpg" style="display: inline-block"/>
                <img src="../../public/image/about_files/img-layer-detail-1973-01-02.jpg"/>
                <img src="../../public/image/about_files/img-layer-detail-1973-01-03.jpg"/>
                <ul style="width: 100px;margin: 0 221px">
                    <li class="about_img_active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <h1>1973</h1>
                <p>人参参美，将韩国的原料与文化推向世界</p>
                <span>在开始人参研究的第9年，也就是1972年，经过漫长等待，终于成功提炼出含有人参叶与花中的有效成分人参皂苷。1973年，推出了以人参皂苷为原料的“人参参美”。“人参参美”承载了徐成焕“把融入韩国文化与原料的产品广泛推向海外”的梦想，并将高丽青瓷的设计融入产品。</span>
            </div>
            <div class="about_page_info" style="height: 900px">
                <img src="../../public/image/about_files/img-layer-detail-1987-01-01.jpg" style="display: inline-block"/>
                <ul></ul>
                <h1>1987</h1>
                <p>雪花，奠定了草本化妆品的基石地位</p>
                <span>在海外获得广泛认可的“人参参美”的成功，给了雪花秀重要的启示，那就是像从人参中提取有效成分一样，从更多的草本中提取有益于肌肤的成分。1987年，蕴含自然草本原料的&lt;雪花&gt;化妆品问世，喻示着“令肌肤如雪花般美丽”。帮助呵护肌肤，提升肤质。</span>
            </div>
            <div class="about_page_info"  id="about_page_info4">
                <img src="../../public/image/about_files/img-layer-detail-1997-01-01.jpg" style="display: inline-block"/>
                <img src="../../public/image/about_files/img-layer-detail-1997-01-02.jpg"/>
                <ul style="width: 80px;margin: 0 231px">
                    <li class="about_img_active"></li>
                    <li></li>
                </ul>
                <h1>1997</h1>
                <p>雪花秀，蕴含亚洲之美的精髓</p>
                <span>从对韩方原料的研究进一步深入到对配方的研究，继而于1997年推出了“雪花秀”产品。尤其是经过对肌肤衰老原因的深入研究，研发出雪花秀的独有配方滋盈凝萃复合体™，至此，以该成分为核心原料的润致焕活肌底精华露首次问世。2000年随着蕴含人参研究精髓的滋盈生人参焕颜修护霜的推出，雪花秀也作为韩国代表性的化妆品品牌迅速站稳脚跟。</span>
            </div>
            <div class="about_page_info" id="about_page_info5">
                <img src="../../public/image/about_files/img-layer-detail-2009-01-01.jpg" style="display: inline-block"/>
                <img src="../../public/image/about_files/img-layer-detail-2009-01-02.jpg"/>
                <ul style="width: 80px;margin: 0 231px">
                    <li class="about_img_active"></li>
                    <li></li>
                </ul>
                <h1>2009</h1>
                <p>韩国之美的代表</p>
                <span>雪花秀晋升为代表韩国的国际护肤品牌，自然而然地吸引了访问韩国的各国元首夫人的视线。2009年韩国东盟特别峰会的各国首相及内阁官员夫人、2010年参加G20首尔锋会的各国第一夫人、2011年参加G20国会议长会议的内阁官员夫人们，都领略到了雪花秀的特有价值。</span>
            </div>
            <div class="about_page_info" id="about_page_info6">
                <img src="../../public/image/about_files/img-layer-detail-present-01-01.jpg" style="display: inline-block"/>
                <img src="../../public/image/about_files/img-layer-detail-present-01-02.jpg"/>
                <ul style="width: 80px;margin: 0 231px">
                    <li class="about_img_active"></li>
                    <li></li>
                </ul>
                <h1>如今</h1>
                <p>风靡全球的调和之美</p>
                <span>雪花秀坚信人参所具备的护肤价值，满怀热情继往开来。雪花秀作为蕴含着亚洲智慧，秉承调和之美的高端草本护肤品牌，深受全世界顾客的喜爱。</span>
            </div>
            <a href="javascript:void(0);" id="about_close_mp"  class="about_close_ps"></a>
        </div>

    </div>


<script src="../../public/js/jquery-1.12.4.js"></script>
<script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../../public/js/about.js"></script>
<script src="../../public/js/about_img.js"></script>
<!--<script src="../../public/js/about_scroll.js"></script>-->
<script src="../../public/js/about_ul_scroll.js"></script>
<script src="../../public/js/top.js"></script>
</body>
</html>