<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪花秀文化展-雪花秀(Sulwhasoo)中国官网</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/culture.css">
    <link rel="stylesheet" href="../../public/css/product.css">
    <style>
        .container{
            padding-right: 35px;
            padding-left: 35px;
        }
    </style>
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div class="container">
        <div id="culture_title">
            <h1>雪花文化展</h1><br/>
            <span>以全新的视角诠释韩国文化的独有价值，向世界宣扬韩国之美，</span><br/>
            <span>是雪花秀特有的文化援助活动。</span>
        </div>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1491549703446.jpg"/>
            <div class="culture_history">
                <h2>2016</h2>
                <h2 class="culture_text">说话：Once upon a time –牛郎织女的故事</h2>
                <p>OCT.13 - NOV.13</p>
                <p>年轻作家们以现代视角全新演绎传统文化，主题是历史悠久、影响深远的悲伤爱情故事《牛郎织女》</p>
                <span class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1491541960122.jpg"/>
            <div class="culture_history">
                <h2>2015</h2>
                <h2 class="culture_text">很久很久以前：紫薇花的传说</h2>
                <p>Nov.24 - Dec.19</p>
                <p>汇聚了11个新兴年轻艺术家及团体，运用各流派的当代视角重新诠释传统文化</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1441180217310.jpg"/>
            <div class="culture_history">
                <h2>2014</h2>
                <h2 class="culture_text">SKIN=NIKS</h2>
                <p>Nov.25 - Dec.31</p>
                <p>以全新的视角诠释传统与现代的邂逅</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1440042077774.jpg"/>
            <div class="culture_history">
                <h2>2013</h2>
                <h2 class="culture_text">弓箭之力</h2>
                <p>Oct.25 - Nov.9</p>
                <p>贯通时代的力量 The power of Arrows across Eras.</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1440042091075.jpg"/>
            <div class="culture_history">
                <h2>2012</h2>
                <h2 class="culture_text">呼吸的泥土，瓷器</h2>
                <p>Oct.18 - Nov.3</p>
                <p>从自然中捏出的韩国的美感</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1440042108503.jpg"/>
            <div class="culture_history">
                <h2>2011</h2>
                <h2 class="culture_text">假说庭园</h2>
                <p>Oct.28 - Nov.10</p>
                <p>打开未知之门</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
        <a class="culture_content" href="/admin/culture/showCulture">
            <img src="../../public/image/culture_files/1440042121817.jpg"/>
            <div class="culture_history">
                <h2>2010</h2>
                <h2 class="culture_text">匠心工艺，期待已久的相遇</h2>
                <p>Oct.30 - Nov.8</p>
                <p>美之本质的思索</p>
                <span href="###" class="btn culture_btn">查看详情</span>
            </div>
        </a>
    </div>
{%include 'footer.html'%}

    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/top.js"></script>
{%endblock%}
</body>
</html>