<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/dynamic.css">
</head>
<body>
    <ul class="dy_nextUl">
        <li>
            <a><img src="../../public/image/dy_files/1497832366381.jpg"/></a>
            <div class="dy_chCover"><span>中国</span></div>
        </li>
        <li>
            <a><img src="../../public/image/dy_files/1497831777190.jpg"/></a>
            <div class="dy_chCover"><span>中国</span></div>
        </li>
        <li>
            <a><img src="../../public/image/dy_files/1490237823802.jpg"/></a>
            <div class="dy_chCover"><span>中国</span></div>
        </li>
        <li>
            <a><img src="../../public/image/dy_files/1490166762023.jpg"/></a>
            <div class="dy_chCover"><span>中国</span></div>
        </li>
    </ul>
</body>
</html>