<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo - 凝脂玉面膜</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/product.css">
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/product.css">
    <script src="../../public/js/top.js"></script>
</head>
<body>
    <div id="top">
    <a id="lgue">中国/中文<i class="lgue_icon icon-top"></i><i class="lgue_icon icon-button"></i></a>
    <ul id="translate">
        <li><a href="http://www.sulwhasoo.com/kr/ko" target="_blank">한국/한국어</a></li>
        <li><a href="http://www.sulwhasoo.com/int/en" target="_blank">International/English</a></li>
        <li class="china_active"><a href="http://www.sulwhasoo.com/cn/zh" target="_blank">中国/中文</a></li>
        <li><a href="http://www.sulwhasoo.com.hk/" target="_blank">香港/繁體中文</a></li>
        <li><a href="http://www.sulwhasoo.com/hk/en" target="_blank">Hong Kong/English</a></li>
        <li><a href="http://www.sulwhasoo.com/tw/zh" target="_blank">台灣/繁體中文</a></li>
        <li><a href="http://www.sulwhasoo.com.sg/" target="_blank">Singapore/English</a></li>
        <li><a href="http://www.sulwhasoo.com.my/" target="_blank">Malaysia/English</a></li>
        <li><a href="http://www.sulwhasoo.com/th/th" target="_blank">ประเทศไทย/ไทย</a></li>
        <li><a href="http://www.sulwhasoo.com/vn/vi" target="_blank">Việt Nam/Tiếng Việt</a></li>
        <li><a href="http://www.sulwhasoo.com/id/id" target="_blank">Indonesia/Bahasa Indonesia</a></li>
        <li><a href="http://us.sulwhasoo.com/" target="_blank">USA/English</a></li>
    </ul>
    <a href="#" id="dh">专柜导航</a>
    <ul id="top_ul">
        <li><a href="login.html" target="_parent">登录<span class="top_span1"></span></a></li>
        <li><a href="shopCar.html" target="_parent">购物车<span class="top_span2"></span></a></li>
        <li><a class="top_ulLia" href="#">在线客服<span class="top_span3"></span></a></li>
    </ul>
    <div class="input-group">
        <input type="text" style="width: 163px; height: 31px; border-color: #ccc; font-size: 13px" class="form-control" placeholder="致美润白气垫粉底液">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <a id="pro_index" href="index.html" target="_parent"><img src="../../public/image/logo.png" height="31.13" width="166"/></a>
    <a id="pro_qidian" href="qidian.html" target="_parent"><img src="../../public/image/cushion_banner.jpg" height="45" width="180"/></a>
    <ul id="nav_ul">
        <li>
            <a href="about.html" target="_parent"><span class="nav_span1"></span></a>
            <!--<ul class="top_navUl top_first">
                <li><a href="#" target="_parent">序</a></li>
                <li><a href="#" target="_parent">哲学</a></li>
                <li><a href="#" target="_parent">调和之美</a></li>
                <li><a href="#" target="_parent">品牌故事</a></li>
            </ul>-->
        </li>
        <li>
            <a href="product.html" target="_parent"><span class="nav_span2"></span></a>
            <ul class="top_navUl top_second">
                <li><a href="product.html" target="_parent">新品上市</a></li>
                <li><a href="starSingle.html" target="_parent">明星单品</a></li>
                <li><a href="protection.html" target="_parent">护肤产品</a></li>
                <li><a href="cosmetics.html" target="_parent">彩妆</a></li>
                <li><a href="manProduct.html" target="_parent">男士</a></li>
                <li><a href="applications.html" target="_parent">使用步骤</a></li>
                <li><a href="recommend.html" target="_parent">本月推荐</a></li>
            </ul>
        </li>
        <li><a href="salewell.html" target="_parent"><span class="nav_span3"></span></a></li>
        <li>
            <a href="special.html" target="_parent"><span class="nav_span4"></span></a>
            <ul class="top_navUl top-third">
                <li><a href="special.html" target="_parent">雪花秀风尚</a></li>
                <li><a href="beauty.html" target="_parent">韩方美容法</a></li>
                <li><a href="culture.html" target="_parent">雪花文化展</a></li>
                <li><a href="magazine.html" target="_parent">雪花秀杂志</a></li>
                <li><a href="SPA.html" target="_parent">雪花秀SPA</a></li>
            </ul>
        </li>
        <li><a href="dynamic.html" target="_parent"><span class="nav_span5"></span></a></li>
        <li>
            <a href="shop.html" target="_parent"><span class="nav_span6"></span></a>
            <ul class="top_navUl top-four">
                <li><a href="shop.html" target="_parent">臻享好礼</a></li>
                <li><a href="salewell.html" target="_parent">畅销榜单</a></li>
                <li><a href="try.html" target="_parent">优先试用</a></li>
                <li><a href="formember.html" target="_parent">会员独享</a></li>
            </ul>
        </li>
    </ul>
</div>
    <div class="container">
        <div class="login_wrap">
            <h2>注册成功</h2>
            <h3>恭喜您，您已经成功注册成为雪花秀成员</h3>
            <p class="hr" style="margin-left: 100px; width: 816px;height:70px"></p>
            <ul class="enroll_ul">
                <li class="enroll_li"><a href="#">返回首页</a></li>
                <li><a href="#">开始购物</a></li>
                <li><a href="#">添加会员信息</a></li>
            </ul>
        </div>
    </div>
    <iframe style="height: 279px;" src="footer.html"></iframe>
</body>
</html>