<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪花秀风尚-雪花秀(Sulwhasoo)中国官网 - 音乐剧演员 金素贤</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/interview.css">
    <link rel="stylesheet" href="../../public/css/special.css">
    <link rel="stylesheet" href="../../public/css/product.css">
    <style>
        .container{
            padding-right: 35px;
            padding-left: 35px;
        }
    </style>
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div class="container">
        <div id="view_top">
            <p>
                <span>音乐剧演员</span> &nbsp;
                <b>金素贤</b>
            </p>
        </div>
        <div class="view_content">
            <img id="view_imgFix" src="../../public/image/interview_files/1467690570816.jpg" height="630" width="542"/>
            <div class="view_text">
                <p class="view_title">绽放的人生<br/>如花般的女人</p>
                <b>时隔三年的邂逅。</b>
                <p>当时金素贤(Sohyun Kim)正在排练音乐剧 《伊丽莎白》。产假过后的第一部作品，她感到压力很大。“能否演好，能否展现最完美的演出？怎样才保持最佳状态不让观众失望，天天都在想着这些事。” 她边把一头亮丽长发拂到后面，边诚恳地道出了内心的担忧。金素贤(Sohyun Kim)陷入这种烦恼，颇觉意外。从首尔大学声乐系毕业，并在改写韩国音乐剧历史的《歌剧魅影》中扮演女一号克丽斯汀开始，一直走在坦途的演员，容貌亮丽、歌声更美，人们认为天生具备富足条件的她，无需付出太多也能驾轻就熟。而此刻，笔者才了解到，她之所以能够登上巅峰，并非上天所赐，而是通过不懈努力和辛勤汗水换来的。 不久前结束全国巡演的《明成皇后》也是付诸努力的成果。以20周年纪念演出为开端，搬上全国18个城市舞台的演出，在整整10个月期间场场爆满。“最初接到提议的时候犹豫了，这么一部大片我能不能演好，再三考虑过后，还是郑重地推掉了。提起《明成皇后》，人们脑子里首先第一个就会浮现某个名人，我能不能做出同样的成绩，心里压根没底。标题是主角姓名的作品，份量完全不同的。<br/>
                    后来接到20周年纪念演出的提议后，才敢鼓起勇气。我就对自己说，很有意义的演出，就试试吧，全身心地投入挑战一把吧。”幸好，反响很热烈，甚至有人说，这个是金素贤(Sohyun Kim)扮演过的角色中最适合的角色。“演技范围更宽了，可能是我太长时间固执不演的缘故吧。结束之后，我们的代表对我说‘你瞧，幸好出演了吧？’。出演这部作品，学到的东西太多了，角色的深度也很特别，不仅学会了从不同观点看待舞台，最关键还是，作为一名演员，学到的东西太珍贵了。” 人们对金素贤(Sohyun Kim)出演的《明成皇后》的赞誉可谓人尽皆知，巅峰演技、顶级技术等赞誉不胜枚举。
                </p>
                <b>没有付出，这一切都是不可实现的。</b>
                <p>“下一部作品是《莫扎特》，马上就要开始排练，6月10日起上演两个月时间。《明成皇后》结束后休息过一段时间，这又要开始忙碌了。” 她说自己好像患上了工作狂症，‘不愧是努力派演员啊’，这是她最想听到的观众评语。音乐剧演员同时担任音乐剧系教授指导学生的她，近来不断强调给学生。<br/>
                    “认真做好每一件事情，我虽然从事音乐剧工作，但从来没有这样系统学习过，你们已经很幸运了，就更应该认真对待每一分钟。”身为教师的金素贤(Sohyun Kim)，要求学生每一学期表演一部好作品。《妈妈咪呀》、《Grease》、《悲惨世界》 等，都是些家喻户晓的著名音乐剧。“有意识地让学生多参与好作品，让他们充分发挥学生才有的激情去准备舞台。<br/>
                    成绩其实并不重要，关键是让他们懂得认真对待每一个角色，懂得珍惜登台的机遇。至少能够体会到舞台谢幕了，再不可能让它重现，这就够了。”<br/>
                    演员的努力是对观众的负责，凭借才气和人气而怠慢观众的演员，总会伤到观众的心。这一点上，金素贤(Sohyun Kim)是始终真心对待观众的实实在在的演员。懂得关爱他人的她，同样不放弃对自己的关爱。或许关爱早已是她的人生铺垫，所以才会如此坦诚实在吧。
                </p>
            </div>
        </div>
        <div class="view_content">
            <img id="view_imgFix2" src="../../public/image/interview_files/1467690570816(1).jpg" height="630" width="542"/>
            <div class="view_text">
                <p class="view_title view_title2">“我喜欢自己是个女人，不是出于性别歧视之类的，只是喜欢女人这一单词单纯含义上的‘女人味’三个字。”</p>
                <b>不是指女人娇弱需要保护、女人娇弱需要休息之类的，而是作为女人永不放弃追求美丽的那种女人味。</b>
                <p>我希望通过呵护和管理，能够永远都漂亮，成为漂亮的妻子、漂亮的妈妈、漂亮的女儿、漂亮的女人。”记得在某个节目上看过她的老公说过：“从来都没见过妻子的素颜”。共同生活在一个屋檐下，怎会可能？而她却说：“只需30秒就足够了，绝非难事。有了孩子以后，每天都是我先起床，化个简单的基础妆只要30秒就足够了，不是因为我特别，任何人都可以做到。我是这样想的，外出见个偶尔见面的人，都会梳理装扮，那么，在我身边最久的人，更应该让他看到最整洁、最漂亮的一面。其实这也不是为了别人，是对自己的一种负责。<br/>
                    她始终站在那里，犹如经典音乐、古典名著一样，如窗外那棵大树一样，只是在不断加深和加固其深度。
                </p>
                <br/>
                <br/>
            </div>
        </div>
        <hr/>
        <div class="special_bottom">
            <div class="special_img view_img">
                <img src="../../public/image/special_files/1467677633694(1).jpg"/>
                <a href="###" class="special_hover">
                    <p>音乐剧演员</p>
                    <hr/><br/>
                    <span>金素贤</span>
                    <i></i>
                </a>
            </div>
            <div class="special_img view_img">
                <img src="../../public/image/special_files/1467677619153(1).jpg"/>
                <a href="###" class="special_hover">
                    <p>主持人</p>
                    <hr/><br/>
                    <span>崔贤珍</span>
                    <i></i>
                </a>
            </div>
            <div class="special_img view_img">
                <img src="../../public/image/special_files/1467608872389.jpg"/>
                <a href="###" class="special_hover">
                    <p>小提琴家</p>
                    <hr/><br/>
                    <span>Shin Zi A</span>
                    <i></i>
                </a>
            </div>
            <div class="special_img view_img">
                <img src="../../public/image/special_files/1467677604447.jpg"/>
                <a href="###" class="special_hover">
                    <p>电影演员</p>
                    <hr/><br/>
                    <span>文晶熙</span>
                    <i></i>
                </a>
            </div>

        </div>
    </div>
{%include 'footer.html'%}

    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/top.js"></script>
    <script>
        var imgOffset=$("#view_imgFix").offset().top;
        var imgOffset2=$("#view_imgFix2").offset().top;
        console.log(imgOffset2);
        var scorllTopNow=$("body").scrollTop();


        function scorll() {
            var scorllTop=$("body").scrollTop();


            if(imgOffset<=scorllTop&&scorllTop<imgOffset2-650){
                $("#view_imgFix").css("top",$("body").scrollTop()-517);
            }else if(imgOffset>scorllTopNow) {
                $("#view_imgFix").css("top", imgOffset - 517);
            }

            if(scorllTopNow>imgOffset2-650){
                $("#view_imgFix").css("top","730px")
            }
            $(window).scroll(function(){
                var scorllTop=$("body").scrollTop();


                if(imgOffset<=scorllTop&&scorllTop<imgOffset2-650){
                    $("#view_imgFix").css("top",$("body").scrollTop()-517);
                }else if(imgOffset>scorllTop) {
                    $("#view_imgFix").css("top", imgOffset - 517);
                }
                if(scorllTop>imgOffset2-650){
                    $("#view_imgFix").css("top","730px")
                }
            });
        }
        scorll();

    </script>
{%endblock%}
</body>
</html>