<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo - 润致焕活肌底精华露</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/magazine_introduce.css">
    <link rel="stylesheet" href="../../public/css/product.css">

    <style>
        .container{
            padding-right: 45px;
            padding-left: 45px;
        }
    </style>
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div class="container">
        <div id="MI_content">
            <img src="../../public/image/magazine_introduce_files/1499219022799.jpg" height="540" width="940"/>
            <div id="MI_text">
                <h2>寻找点点滴滴的幸福</h2>
                <strong>有句话说“幸福不是强度而是频率”，幸福就是来自于点点滴滴。 为日常生活带来幸福的小礼物清单</strong>
                <p>这是一个灿烂的时光。不得不沉溺于新绿礼赞的季节，身体和心情 都跟着躁动起来。清新的季节，让聚会也多了起来。打扮得漂漂亮亮 后，坐在餐厅露台上，沐浴着温暖的阳光，与朋友谈笑风生，再加上 一份带着满满心意的礼物，实在是令人愉快不已。如果这个礼物是可 以突出女性美的首饰，那就真是锦上添花了。因为漂亮，所以基本上 都会喜欢，即使不是自己特别喜欢的风格，但只要是首饰，就会让女 人莫名地开心。挑选首饰的时候要考虑两点，就是要好看、要特别。 尤其是同时具有东西方的魅力、符合古今审美的工艺家的首饰，上面 遗留着其细腻的手法，送礼物的人和收到礼物的人都会感到满意和 欣喜。当然，就当是送给自己的礼物也是极好的想法。可以给一直以 来努力生活的自己一个鼓励和安慰。一件漂亮却不张扬的首饰，礼物 虽小，快乐却很大。谁知道呢，也许一个小小的礼物，可能会带来巨大 的幸福呢。</p>
            </div>
            <!--图片配文字div-->
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422.jpg" height="462" width="465"/>
                <p>具有立体感的红点切割钻石耳环， 在季节的尾巴成为你的最佳选择。 Gemma Alus</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(1).jpg" height="462" width="465"/>
                <p>经过植物杀菌加工的100%纯棉蝴蝶手 帕，纯天然染色布料，用手工针线加上 了小蝴蝶和传统结扣装饰。 Kyunglim Shin作家作品 by KCDF。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(2).jpg" height="462" width="465"/>
                <p>手工褶皱发卡，将用五倍子与黄 蘗染色的丝绸，像翻书一样一次 次折叠而成，Hana Jo作家作品 by KCDF。</p>
            </div>
            <div class="MI_img">
            <img src="../../public/image/magazine_introduce_files/1499219306422(3).jpg" height="462" width="465"/>
            <p>胸针，利用黄铜导管和水牛角制作 几何形状，再上漆做点缀，Kyungzoo Noh作家作品。</p>
        </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(4).jpg" height="462" width="465"/>
                <p>实用又复古的挎包，仿效了古代用来 装毛笔的笔囊形状，Seoyun Lim作家 作品。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(5).jpg" height="462" width="465"/>
                <p>韩纸织物胸针，利用手织机制作而 成，用几何纹的摩登风格演绎了大自 然的美丽，Handerang Surim Kim作家 作品。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(6).jpg" height="462" width="465"/>
                <p>珍珠黄金大圈戒指，看似珍珠浮在上 面，可戴在两只手指上，Yunsun Jang 作家作品。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(7).jpg" height="462" width="465"/>
                <p>纸绳吊坠，使用韩纸工艺中的纸捻 制作法，在木珠上贴了韩纸，Zoo Hyewon作家作品 by KCDF。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(8).jpg" height="462" width="465"/>
                <p>胸针，重新诠释传统材料螺钿，将螺 钿特有的不规则纹样和各种新材料组 合起来开发而成，FICT胸针by KCDF。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(9).jpg" height="462" width="465"/>
                <p>棕色墨镜，采用钛材料和设计独特 的镜片，在拐角处做了点缀，感觉 优雅而精致，Gentle Monster。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(10).jpg" height="462" width="465"/>
                <p>版画帆布环保袋，画中的茉莉花与 小猫朱利安仿佛在春风里飘荡， Kyungzoo Choi作家作品 by soseng。</p>
            </div>
            <div class="MI_img">
                <img src="../../public/image/magazine_introduce_files/1499219306422(11).jpg" height="462" width="465"/>
                <p>Hangria绿松石项链，带着对人、 自然与宇宙共存的世界以及健康 与幸福的祈愿，Hyejeong Won作家 作品by KCDF。</p>
            </div>
            <ul>
                <li>编辑 尹蓮淑</li>
                <li>图片 金珉恩</li>
                <li>形象设计师 Hwang Namju（Bureau de claudia）</li>
                <li>助手 Jang Sehee</li>
            </ul>
            <hr/>
        </div>
        <div id="MI_bottom">
            <div class="MI_bottomimg">
                <div class="MI_simg">
                    <img src="../../public/image/magazine_introduce_files/1499219022799(1).jpg"/>
                    <a href="###" class="MI_hover">
                        <p>雪花秀杂志</p>
                        <hr/><br/>
                        <i></i>
                    </a>
                </div>
                <span>点缀身体</span>
                <p>寻找点点滴滴的幸福</p>
            </div>
            <div class="MI_bottomimg">
                <div class="MI_simg">
                    <img src="../../public/image/magazine_introduce_files/1499218491813.jpg"/>
                    <a href="###" class="MI_hover">
                        <p>雪花秀杂志</p>
                        <hr/><br/>
                        <i></i>
                    </a>
                </div>
                <span>点缀身体</span>
                <p>礼尚往来，让关系更进一步</p>
            </div>
            <div class="MI_bottomimg">
                <div class="MI_simg">
                    <img src="../../public/image/magazine_introduce_files/1499217788707.jpg"/>
                    <a href="###" class="MI_hover">
                        <p>雪花秀杂志</p>
                        <hr/><br/>
                        <i></i>
                    </a>
                </div>
                <span>读</span>
                <p>青春，春天般灿烂的瞬间</p>
            </div>
            <div class="MI_bottomimg">
                <div class="MI_simg">
                    <img src="../../public/image/magazine_introduce_files/1499216737827.jpg"/>
                    <a href="###" class="MI_hover">
                        <p>雪花秀杂志</p>
                        <hr/><br/>
                        <i></i>
                    </a>
                </div>
                <span>雪花收藏</span>
                <p>越古老，越美好</p>
            </div>
        </div>
    </div>

{%include 'footer.html'%}


    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/top.js"></script>
{%endblock%}
</body>
</html>