<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo SPA - 按摩项目</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/product.css">
    <style>
        .container{
            padding-right: 35px;
            padding-left: 35px;
        }
    </style>
    <link rel="stylesheet" href="../../public/css/program.css">

</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div class="container">
        <div class="pro_content">
            <img src="../../public/image/program_files/img_programs_01.jpg" height="220" width="1100"/>
            <div class="pro_absolute">
                <h2>Signature</h2>
                <p>雪花秀SPA的代表项目--使用顶级产品及特殊工具的全身管理。</p>
                <i class="pro_more"></i>
            </div>
            <div class="pro_text1">
                <div class="pro_item">
                    <h3 class="pro-title">多馠雪</h3>
                    <div class="pro_itemText">
                        <p>利用突显韩方成分的身体专用和面部专用黑耀石工具，为追求荣耀人生的女士奉献顶级服务。</p>
                        <span>190分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">珍雪</h3>
                    <div class="pro_itemText">
                        <p>通过身体经络疗法刺激体内经穴、平衡阴阳、促进全身血液循环，利用珍雪精华素护理，缔造超越岁月的美丽。</p>
                        <span>140分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">雪花本生</h3>
                    <div class="pro_itemText">
                        <p>利用蒸煮的温热滋阴丹草球、护理肩部及僵硬部位后用雪花秀滋阴生面霜寻回肌肤活力。</p>
                        <span>120分钟</span>
                    </div>
                </div>
                <div class="pro_item pro_noborder">
                    <h3 class="pro-title">雪颜</h3>
                    <div class="pro_itemText">
                        <p>舒缓僵硬的肩部肌肉排出体内毒素后，用取自人参的美白成分提升肌肤力量，缔造亮丽透明肌肤的疗法。</p>
                        <span>90分钟</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_content">
            <img src="../../public/image/program_files/img_programs_02.jpg" height="220" width="1100"/>
            <div class="pro_absolute">
                <h2>Facial Treatment</h2>
                <p>与雪花秀基础护肤相连结的面部集中管理项目。</p>
                <i class="pro_more"></i>
            </div>
            <div class="pro_text1">
                <div class="pro_item">
                    <h3 class="pro-title">恢复循环</h3>
                    <div class="pro_itemText">
                        <p>利用水律系列并配合雪花面膜纸还原皮肤原有的光泽并使皮肤透亮、润泽的疗法。</p>
                        <span>60分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">镇静舒敏</h3>
                    <div class="pro_itemText">
                        <p>利用水律系列和白土面膜以及 面部白瓷工具不仅提供排毒功效，还可提亮肤色的护理疗法。</p>
                        <span>80分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">集中补养</h3>
                    <div class="pro_itemText">
                        <p>利用雪花秀代表性产品散发浓郁人参馨香的滋阴生面霜和玉指环补足充足营养，恢复均衡的疗法。</p>
                        <span>80分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">集中美白</h3>
                    <div class="pro_itemText">
                        <p>利用滋晶系列和美白球深层治理因热而暗沉的肌肤，恢复透亮、晶润肤色的疗法。</p>
                        <span>90分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">改善皱纹</h3>
                    <div class="pro_itemText">
                        <p>利用蕊笑忱面霜&面贴和玉指环、琥珀工具，从根本护理决定皮肤年龄的八字、眼角、眉间、额头皱纹的疗法。</p>
                        <span>90分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">恢复护理</h3>
                    <div class="pro_itemText">
                        <p>利用雪花秀顶级系列珍雪和琥珀工具恢复肌肤年轻生机的疗法。</p>
                        <span>100分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">恢复润泽</h3>
                    <div class="pro_itemText">
                        <p>利用纯金的温热护理提升皮肤最佳润泽状态的疗法。</p>
                        <span>110分钟</span>
                    </div>
                </div>
                <div class="pro_item pro_noborder">
                    <h3 class="pro-title">轮廓护理</h3>
                    <div class="pro_itemText">
                        <p>修整面部脂肪及肌肉，改善紧致弹性及面部线条的疗法。</p>
                        <span>110分钟</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_content">
            <img src="../../public/image/program_files/img_programs_03.jpg" height="220" width="1100"/>
            <div class="pro_absolute">
                <h2>Body Treatment</h2>
                <p>雪花秀SPA独有的使用特殊身体精油的身体集中管理。</p>
                <i class="pro_more"></i>
            </div>
            <div class="pro_text1">
                <div class="pro_item">
                    <h3 class="pro-title">白瓷疗法</h3>
                    <div class="pro_itemText">
                        <p>雪花油修护舒缓全身肌肉，再用冰爽白瓷提升肌肤弹性。</p>
                        <span>60分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">雪花油疗法</h3>
                    <div class="pro_itemText">
                        <p>集中缓解紧张压力下僵硬的后背和肩部，治理肌肉僵硬或酸痛。</p>
                        <span>60分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">身体裹敷疗法</h3>
                    <div class="pro_itemText">
                        <p>雪花油裹敷身体为全身补足水分和营养，恢复肌肤均衡。</p>
                        <span>70分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">滋阴丹草球疗法</h3>
                    <div class="pro_itemText">
                        <p>利用正花水蒸煮的滋阴丹草球，调理身体均衡。</p>
                        <span>70分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">真生油疗法</h3>
                    <div class="pro_itemText">
                        <p>真生油身体裹敷，为全身供应高浓缩人参成分。</p>
                        <span>80分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">身体排毒疗法</h3>
                    <div class="pro_itemText">
                        <p>促进肌肤的血液循环，打造光滑肌肤。</p>
                        <span>80分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">雪花油集中疗法</h3>
                    <div class="pro_itemText">
                        <p>使用柔和雪花油舒缓肩部僵硬肌肤并放松全身的疗法。</p>
                        <span>90分钟</span>
                    </div>
                </div>
                <div class="pro_item pro_noborder">
                    <h3 class="pro-title">金箔疗法</h3>
                    <div class="pro_itemText">
                        <p>全身温热护理后贴上纯金贴，促进流畅新陈代谢。</p>
                        <span>90分钟</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_content">
            <img src="../../public/image/program_files/img_programs_04.jpg" height="220" width="1100"/>
            <div class="pro_absolute">
                <h2>Add-On</h2>
                <p>在面部、身体管理项目中添加，可获得更加有效的管理效果。</p>
                <i class="pro_more"></i>
            </div>
            <div class="pro_text1">
                <div class="pro_item">
                    <h3 class="pro-title">滋阴丹草球<br/>背部护理</h3>
                    <div class="pro_itemText">
                        <p>利用滋阴丹草球触摸缓解后背和肩部疲劳的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">后背&<br/>肩部集中护理</h3>
                    <div class="pro_itemText">
                        <p>集中松驰后背和肩部肌肉的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">后背深层调理</h3>
                    <div class="pro_itemText">
                        <p>利用刮痧和白土敷膜法清除垃圾，缔造美丽后背肌肤的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">手臂&<br/>胸部集中护理</h3>
                    <div class="pro_itemText">
                        <p>缔造美丽胸部和手臂线条的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">集中护理表情纹</h3>
                    <div class="pro_itemText">
                        <p>集中护理决定肌肤年龄的表情纹部位的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">腿部排毒护理</h3>
                    <div class="pro_itemText">
                        <p>用雪花油缓解腿部疲劳，利用白土敷膜排出垃圾的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item">
                    <h3 class="pro-title">足部反射护理</h3>
                    <div class="pro_itemText">
                        <p>专为恢复疲劳及健康管理的专业足部疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
                <div class="pro_item pro_noborder">
                    <h3 class="pro-title">放松腿部护理</h3>
                    <div class="pro_itemText">
                        <p>利用纯金贴膜和人参籽油，即真生油缔造玉润、柔滑双腿的疗法。</p>
                        <span>30分钟</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%include 'footer.html'%}

    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/program.js"></script>
    <script src="../../public/js/top.js"></script>
{%endblock%}
</body>
</html>