<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo - 探寻调和之美的50年人参旅程</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/red_index.css">
    <link rel="stylesheet" href="../../public/css/product.css">
</head>
<body>
{%include 'top.html'%}

{%block main%}
<div id="rec_2">
    <img src="../../public/image/rec_files/rec2_1.jpg" style="height: 451px"/>
    <div id="rec_2play">
        <embed src="http://player.youku.com/player.php/sid/XMjYxMjgwMzYwNA==/isAutoPlay/false/isShowRelatedVideo/false/partnerid/5e97451fc90ec8cc/v.swf"></embed>
    </div>
    <img src="../../public/image/rec_files/rec2_2.jpg" style="height: 198px;margin-top: 80px"/>
    <div id="rec_2_center">
        <span class="rec_2_span rec_2_span0">
            <i class="rec_2_spanImg rec_2_spanImg0"></i>
        </span>
        <span class="rec_2_span rec_2_span1">
            <i class="rec_2_spanImg rec_2_spanImg1"></i>
        </span>
        <img src="../../public/image/rec_files/int_05.jpg"/>
        <img src="../../public/image/rec_files/int_04.jpg"/>
        <img src="../../public/image/rec_files/int_03.jpg"/>
        <img src="../../public/image/rec_files/int_02.jpg"/>
        <img src="../../public/image/rec_files/int_01.jpg"/>
        <ul class="rec_2_ul">
            <li style="background: #AFA789;">
                <div class="rec_2_div">
                    <h2>始于人参的调和之美</h2>
                    <p style="height: 34px;line-height: 34px">—</p>
                    <p>
                        人参一直被认为是大自然的珍贵馈赠。人参中的珍稀品种高丽参，汲取日月之精华，开启凝时之美的旅程。
                    </p>
                </div>
            </li>
            <li style="background: #A0A384">
                <div class="rec_2_div">
                    <h2>
                        雪花秀<br/>
                        注重人参品质的研究
                    </h2>
                    <p style="height: 34px;line-height: 34px">—</p>
                    <p>
                        雪花秀采用严格的质量标准来控制人参的品质。正是由于对品质的坚持和成分的注重，成就了今天雪花秀的成功。
                    </p>
                </div>
            </li>
            <li style="background: #BBA77C">
                <div class="rec_2_div">
                    <h2>50年的人参综合研究</h2>
                    <p style="height: 34px;line-height: 34px">—</p>
                    <p>
                        雪花秀对人参进行了广泛及深入的研究，发现了隐藏于人参中的美肤功效。此外，雪花秀不断完善对人参功效的研究，矢志带来更好的美肤体验。
                    </p>
                </div>
            </li>
            <li style="background: #887768">
                <div class="rec_2_div">
                    <h2>
                        雪花秀<br/>
                        独特的生物转化技术
                    </h2>
                    <p style="height: 34px;line-height: 34px">—</p>
                    <p>
                        人参对健康大有裨益，如何突破人参的食用价值升华其养肤功效？基于这一灵感，雪花秀开始探索如何将人参能量传递至肌肤。雪花秀通过生物转化技术，将人参皂苷通过酶处理成功转化成了有利于肌肤吸收的活性精华，从而提高了人参皂苷的亲肤性。
                    </p>
                </div>
            </li>
            <li style="background: #826B5C;padding: 250px 90px">
                <div class="rec_2_div" style="width: 320px">
                    <h2>50年人参综合研究创举</h2>
                    <span class="rec_2_littleSpan">NEW</span>
                    <h2 style="display: inline">滋盈生人参焕颜</h2>
                    <h2>修护霜</h2>
                    <p style="height: 34px;line-height: 34px">—</p>
                    <p>
                        雪花秀推出第四代滋盈生人参焕颜修护霜，传承50年人参综合研究的巅峰。新升级滋盈生人参焕颜修护霜，奉上“参”肌焕活的美肤方案，令青春能量“参”生不息。
                    </p>
                    <span class="rec_2_botspan">&nbsp;将于10月隆重上市&nbsp;</span>
                </div>
            </li>
        </ul>
    </div>
    <img src="../../public/image/rec_files/rec2_3.jpg" style="height: 140px;margin-top: 80px"/>
    <div id="rec_2_bottom">
        <span class="rec_2_span rec_2_span0"></span>
        <span class="rec_2_span rec_2_span1"></span>
        <img src="../../public/image/rec_files/pdt_01.jpg" style="display: block"/>
        <img src="../../public/image/rec_files/pdt_02.jpg"/>
        <img src="../../public/image/rec_files/pdt_03.jpg"/>
        <img src="../../public/image/rec_files/pdt_04.jpg"/>
        <img src="../../public/image/rec_files/pdt_05.jpg"/>
    </div>
    <img src="../../public/image/rec_files/rec2_4.jpg" style="height: 113px"/>
</div>
{%include 'footer.html'%}
<script src="../../public/js/jquery-1.12.4.js"></script>
<script src="../../public/js/top.js"></script>
<script src="../../public/js/rec3.js"></script>
{%endblock%}
</body>
</html>