<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo - 凝脂玉面膜</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="../../public/css/product.css">
    <script src="../../public/js/product.js"></script>
    <script src="../../public/js/top.js"></script>
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div id="pro_recommend">
        <div>
            <img src="../../public/image/product_files/list_20170728_pc.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2>润致焕活肌底精华露<br> 致 • 美的第一步</h2>
                <a class="rec_a" href="/admin/product_introduce">查看详情</a>
            </span>
        </div>
        <div>
            <img src="../../public/image/product_files/list_20170518_pc.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2>雪花秀凝脂玉面膜<br>夜，玉能养颜；晨，肤若凝脂</h2>
                <a class="rec_a" href="/admin/rec_1">查看详情</a>
            </span>
        </div>
        <div>
            <img src="../../public/image/product_files/list_20170113_pc.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2>
                    探寻调和之美的50年人参旅程<br>50-year Great Journey to Holistic Beauty
                </h2>
                <a class="rec_a" href="/admin/rec_3">查看详情</a>
            </span>
        </div>
        <div>
            <img src="../../public/image/product_files/bg_20160308.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2 style="color: #333;">
                    超<sup>*</sup>然若凝脂 滋晶润雪肤<br><span>雪花秀滋晶雪肤美白系列</span>
                </h2><a class="rec_a rec_a1" href="/admin/rec_4">查看详情</a>
            </span>
        </div>
        <div>
            <img src="../../public/image/product_files/list_20170109_pc.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2 style="color: #b8867e;">千年赤松奢华凝萃<br>至臻容颜秀美如初</h2>
                <a class="rec_a" href="/admin/rec_5">查看详情</a>
            </span>
        </div>
        <div>
            <img src="../../public/image/product_files/bg_02.jpg" height="299" width="1100"/>
            <span class="rec_imgText">
                <h2 style="color: #ceb184;">人参力量<br>根<sup>*</sup> 除岁月痕迹，重现弹力美肌</h2>
                <a class="rec_a" href="/admin/rec_6">查看详情</a>
            </span>
        </div>
    </div>
{%include 'footer.html'%}
{%endblock%}
</body>
</html>