<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪花秀文化展-雪花秀(Sulwhasoo)中国官网 - 설화(說話) - Once upon a time</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/showCulture.css">
    <link rel="stylesheet" href="../../public/css/product.css">
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div id="SC_contentTop">
            <div id="SC_contentTop1">
                <span>2016 雪花文化展</span>
                <h1>说话：Once upon a time –牛郎织女的故事</h1>
                <p>年轻作家们以现代视角全新演绎传统文化，主题是历史悠久、影响深远的悲伤爱情故事《牛郎织女》</p>
                <a href="javascript:void (0)" id="SC_down"></a>
            </div>
            <div id="SC_contentTop2">
                <p>雪花秀于10月13日在首尔市江南区岛山大路</p>
                <p>雪花秀旗舰店和岛山公园举办为期一整月的</p>
                <p>2016年雪花文化展《说话：Once upon a time - 牛郎织女的故事》。</p>
            </div>
            <div id="SC_contentTop3">
                <p>11组新兴当代艺术家参与创作，以多种多样的形式，</p>
                <p>将牛郎织女故事融入于丰富多彩的艺术作品中，对其重新进行定义。</p>
                <p>将这个由爱情与誓言、相遇与再续等象征性题材组成的爱情传说以寓意丰富的形式呈现出来。</p>
                <p>参观者可以体验到以全新视角解读传统故事所带来的乐趣和无穷魅力。</p>
            </div>
    </div>
    <div id="SC_contentBottom">
        <img src="../../public/image/showCulture_files/img_skinniks_sketch.jpg" height="540" width="940"/>
        <i class="beauty_play"></i>
    </div>
    <div class="container">
        <div id="SC_footer">
            <h2>作家简介</h2>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists01.jpg" height="205" width="356"/>
            <p>stpmj</p>
            <span>建筑师</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists02.jpg" height="205" width="356"/>
            <p>OAA 郑奎东</p>
            <span>建筑师</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists03.jpg" height="205" width="356"/>
            <p>吴英旭 </p>
            <span>建筑师</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists04.jpg" height="205" width="356"/>
            <p>全佳英 </p>
            <span>装置艺术家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists05.jpg" height="205" width="356"/>
            <p>安志美、李相红 </p>
            <span>设计师</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists06.jpg" height="205" width="356"/>
            <p>李艺珍 </p>
            <span>装置艺术家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists07.jpg" height="205" width="356"/>
            <p>朴余珠 </p>
            <span>装置艺术家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists08.jpg" height="205" width="356"/>
            <p>Fabrikr—金东奎,金圣兆 </p>
            <span>织物艺术家/设计师</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists09.jpg" height="205" width="356"/>
            <p>金俊  </p>
            <span>声音艺术家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists10.jpg" height="205" width="356"/>
            <p>赵爱莉 </p>
            <span>媒体作家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists11.jpg" height="205" width="356"/>
            <p>FriiH </p>
            <span>媒体作家</span>
        </div>
        <div class="SC_float">
            <img src="../../public/image/showCulture_files/culture_artists12.jpg" height="205" width="356"/>
            <p>郑官采 </p>
            <span>染色工匠</span>
        </div>
    </div>
{%include 'footer.html'%}
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/top.js"></script>
    <script>

    </script>
{%endblock%}
</body>
</html>