<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sulwhasoo SPA - 雪花秀SPA-雪花秀(Sulwhasoo)中国官网</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/SPA.css">
    <link rel="stylesheet" href="../../public/css/product.css">
    <style>
        .container{
            padding-right: 35px;
            padding-left: 35px;
        }
    </style>
</head>
<body>
{%include 'top.html'%}

{%block main%}
    <div class="container">
        <div id="spa_head">
            <img src="../../public/image/SPA_files/h_spa.png" height="131" width="621"/><br/>
            <a href="/admin/SPA/program" class="btn spa_btn">按摩项目</a>
        </div>
        <div id="spa_content">
            <div id="spa_title">
                <h2>实现调和之美的雪花秀SPA</h2>
                <p>雪花秀SPA体现了雪花秀所追求的美之哲学和价值。护理过程中采用含有珍贵的韩方草药成分调理疲乏的肌肤，经专业美容师的精心护理，保持身体平衡，疗程中进行的传统护理步骤亦有助于回复心灵的平静，由内而外地打造调和之美。雪花秀SPA的集中护理项目，以雪花秀的产品、熟练的专业美容师和独创的美容护理步骤相结合，实现雪花秀SPA品牌的“平衡与和谐”的价值。</p>
            </div>
            <div class="spa_text">
                <img src="../../public/image/SPA_files/1440570546672(1).jpg" height="280" width="470"/>
                <div class="spa_textContent">
                    <span>集中护理的第一步</span>
                    <h3>红参足浴</h3>
                    <p>使用人参种子颗粒磨砂轻柔按摩双脚后，以含有浸过红参的温水来冲洗，是雪花秀SPA护理程序的第一步。红参和温水能够舒缓足部疲劳，让您享受身体与心灵的双重放松。</p>
                </div>
            </div>
            <div class="spa_text">
                <img src="../../public/image/SPA_files/1440570546672(2).jpg" height="280" width="470"/>
                <div class="spa_textContent">
                    <span>芳香开穴按摩的应用</span>
                    <h3>雪花精</h3>
                    <p>闻香布按摩起源于朝鲜王朝，是一种能够使身心放松的芳香疗法。把顾客自选的香草芳香精华油蘸取在闻香布上，轻轻覆盖于肌肤上，这样能够提升护理效果，并能唤醒沉睡的五官感受。</p>
                </div>
            </div>
            <div class="spa_text">
                <img src="../../public/image/SPA_files/1440570546672(3).jpg" height="280" width="470"/>
                <div class="spa_textContent">
                    <span>提高护理功效</span>
                    <h3>科学的工具</h3>
                    <p>护理工具集传统的继承性与现代的科学性于一身。玉扳指能够增强温热人参的功效；白瓷能够有效净化肌肤；琥珀按摩时温热肌肤，提高臻秀系列产品的功效；韩方面膜具有高效吸收力、透气性以及佳的抗皱美白双重功效。与雪花秀产品相结合，将治疗功效发挥到极致。</p>
                </div>
            </div>
        </div>
    </div>
{%include 'footer.html'%}

    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/top.js"></script>
{%endblock%}
</body>
</html>