<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico"/>
    <title>Sulwhasoo</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/shop.css">
    <link rel="stylesheet" href="../../public/css/use_rule.css">
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../public/css/product.css">
    <script src="../../public/js/top.js"></script>
</head>
<body>
<div class="container-fluid">
    <div id="top">
        <a id="lgue">中国/中文<i class="lgue_icon icon-top"></i><i class="lgue_icon icon-button"></i></a>
        <ul id="translate">
            <li><a href="http://www.sulwhasoo.com/kr/ko" target="_blank">한국/한국어</a></li>
            <li><a href="http://www.sulwhasoo.com/int/en" target="_blank">International/English</a></li>
            <li class="china_active"><a href="http://www.sulwhasoo.com/cn/zh" target="_blank">中国/中文</a></li>
            <li><a href="http://www.sulwhasoo.com.hk/" target="_blank">香港/繁體中文</a></li>
            <li><a href="http://www.sulwhasoo.com/hk/en" target="_blank">Hong Kong/English</a></li>
            <li><a href="http://www.sulwhasoo.com/tw/zh" target="_blank">台灣/繁體中文</a></li>
            <li><a href="http://www.sulwhasoo.com.sg/" target="_blank">Singapore/English</a></li>
            <li><a href="http://www.sulwhasoo.com.my/" target="_blank">Malaysia/English</a></li>
            <li><a href="http://www.sulwhasoo.com/th/th" target="_blank">ประเทศไทย/ไทย</a></li>
            <li><a href="http://www.sulwhasoo.com/vn/vi" target="_blank">Việt Nam/Tiếng Việt</a></li>
            <li><a href="http://www.sulwhasoo.com/id/id" target="_blank">Indonesia/Bahasa Indonesia</a></li>
            <li><a href="http://us.sulwhasoo.com/" target="_blank">USA/English</a></li>
        </ul>
        <a href="#" id="dh">专柜导航</a>
        <ul id="top_ul">
            <li><a href="login.html" target="_parent">登录<span class="top_span1"></span></a></li>
            <li><a href="shopCar.html" target="_parent">购物车<span class="top_span2"></span></a></li>
            <li><a class="top_ulLia" href="#">在线客服<span class="top_span3"></span></a></li>
        </ul>
        <div class="input-group">
            <input type="text" style="width: 163px; height: 31px; border-color: #ccc; font-size: 13px" class="form-control" placeholder="致美润白气垫粉底液">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <a id="pro_index" href="index.html" target="_parent"><img src="../../public/image/logo.png" height="31.13" width="166"/></a>
        <a id="pro_qidian" href="qidian.html" target="_parent"><img src="../../public/image/cushion_banner.jpg" height="45" width="180"/></a>
        <ul id="nav_ul">
            <li>
                <a href="about.html" target="_parent"><span class="nav_span1"></span></a>
                <!--<ul class="top_navUl top_first">
                    <li><a href="#" target="_parent">序</a></li>
                    <li><a href="#" target="_parent">哲学</a></li>
                    <li><a href="#" target="_parent">调和之美</a></li>
                    <li><a href="#" target="_parent">品牌故事</a></li>
                </ul>-->
            </li>
            <li>
                <a href="product.html" target="_parent"><span class="nav_span2"></span></a>
                <ul class="top_navUl top_second">
                    <li><a href="product.html" target="_parent">新品上市</a></li>
                    <li><a href="starSingle.html" target="_parent">明星单品</a></li>
                    <li><a href="protection.html" target="_parent">护肤产品</a></li>
                    <li><a href="cosmetics.html" target="_parent">彩妆</a></li>
                    <li><a href="manProduct.html" target="_parent">男士</a></li>
                    <li><a href="applications.html" target="_parent">使用步骤</a></li>
                    <li><a href="recommend.html" target="_parent">本月推荐</a></li>
                </ul>
            </li>
            <li><a href="salewell.html" target="_parent"><span class="nav_span3"></span></a></li>
            <li>
                <a href="special.html" target="_parent"><span class="nav_span4"></span></a>
                <ul class="top_navUl top-third">
                    <li><a href="special.html" target="_parent">雪花秀风尚</a></li>
                    <li><a href="beauty.html" target="_parent">韩方美容法</a></li>
                    <li><a href="culture.html" target="_parent">雪花文化展</a></li>
                    <li><a href="magazine.html" target="_parent">雪花秀杂志</a></li>
                    <li><a href="SPA.html" target="_parent">雪花秀SPA</a></li>
                </ul>
            </li>
            <li><a href="dynamic.html" target="_parent"><span class="nav_span5"></span></a></li>
            <li>
                <a href="shop.html" target="_parent"><span class="nav_span6"></span></a>
                <ul class="top_navUl top-four">
                    <li><a href="shop.html" target="_parent">臻享好礼</a></li>
                    <li><a href="salewell.html" target="_parent">畅销榜单</a></li>
                    <li><a href="try.html" target="_parent">优先试用</a></li>
                    <li><a href="formember.html" target="_parent">会员独享</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">

        <div class="pri_box" style="height: 8800px">
            <h1>使用条款</h1>
            <h5>第一条目的</h5>
            <p>（1） 制定本服务使用条款（以下简称“本条款”）的目的在于规范在使用爱茉莉太平洋贸易有限公司（即网站运营商，以下简称“秀妍会”）通过秀妍会网站（以下简称“网站”，网站地址为<a href="index.html">http://www.sulwhasoo.com/cn/zh/</a> ）提供的相关服务（以下简称“服务”）时，用户所享有的权利、承担的义务及责任。（对于通过计算机通讯、移动通讯等电子设备进行的交易，在不与其目的和性质相冲突的前提下同样适用本条款内容）</p>
            <p>（2） 如果用户访问网站或在网站购物，或以任何行为实际使用、享受网站的服务，即表示用户接受了本条款，并同意受本条款的约束。如果用户不同意本条款中的任何内容，用户可以选择不使用本网站服务。</p>
            <p>（3） 本条款包括本条款正文及所有网站已经发布的或将来可能发布或更新的各类规则，所有规则为本条款不可分割的组成部分，与本条款正文具有同等法律效力。用户应当仔细阅读本条款的正文内容及其所属各类规则。</p>
            <h5>第二条定义</h5>
            <p>（1） “网站”是指秀妍会为向用户销售产品及提供相关服务，通过计算机等信息通讯设备设置的可进行产品交易的虚拟的营业场所，有时“网站”指代经营网站的运营商。</p>
            <p>（2） “用户”是指进入网站并按照本条款约定享受秀妍会提供服务的会员及非会员。</p>
            <p>（3） “服务”为秀妍会在网站范围内按照第五条的约定向用户提供的与网络相关的有形或无形的服务。</p>
            <p>（4） “会员”是指向秀妍会网站提供个人信息并完成注册的，持续享受网站提供的信息并继续享有网站提供服务的使用人。</p>
            <p>（5） “非会员”是指未注册成为会员，但使用网站提供的服务的使用人。</p>
            <p>（6） “特殊情况”是指不可抗力事件、政府机关的要求、第三方的支付服务等秀妍会不负责履行的部分或无法控制的情况。</p>
            <h5>第三条本条款明示，说明及修改</h5>
            <p>（1） 网站将本条款的内容及有关负责人的姓名、营业场所（包括可处理用户投诉的地址）、电话联系方式、传真、电子邮箱地址、营业执照注册号、个人信息管理人员等信息明示在顾客容易阅读的网站首页位置。</p>
            <p>（2） 对于本条款的订单撤销，配送责任、退换货条件等重要内容，为帮助用户充分理解，秀妍会应在另外的链接或界面单独提示。</p>
            <p>（3） 网站有权根据需要不时制订、修改本条款或各类规则，并以网站公示的方式进行公告，不再单独通知用户。修订后的条款或将来可能发布或更新的各类规则一经在网站公布后，立即自动生效。如用户不同意相关修订，应当立即停止使用网站服务。用户继续使用网站服务，即表示用户接受经修订的条款或规则。</p>
            <h5>第四条服务的提供及变更</h5>
            <p>（1） 网站提供履行如下业务：</p>
            <ol type="a">
                <li>提供产品或者服务相关的信息并确认订单；</li>
                <li>经网站确认的订单产品的配送；</li>
                <li>订单即配送相关的服务的提供；</li>
                <li>对相关用户提出的问题及时应对并处理；</li>
                <li>其他网站约定的业务。</li>
            </ol>
            <p>（2） 由于市场变化及各种以合理商业努力难以控制的因素的影响，网站无法承诺用户通过提交订单所希望购买的商品都会有货；用户订购的商品如果发生缺货，用户和网站依据本条款约定皆有权取消该订单，或者以网站和用户协商一致的其他方式进行处理。</p>
            <p>（3） 网站将尽最大努力保证用户所购商品价格与网站公布的价格一致，如果发现错误定价，网站将采取下列措施：</p>
            <ol type="a">
                <li>如果某一商品的错误定价高于正确定价，网站将按照较低的定价向用户销售该等商品或服务；</li>
                <li>如果某一商品或服务的错误定价低于正确定价，网站会根据情况，在交付商品前联系用户达成共识，或者取消订单并通知用户。</li>
            </ol>
            <h5>第五条服务的终端和终止</h5>
            <p>（1） 用户向网站提出注销账户申请，经网站审核同意后，由网站注销该用户账户，本条款即告终止。但在注销该用户账户后，网站仍有权：</p>
            <ol type="a">
                <li>保留该用户的注册信息及过往的全部交易行为记录；</li>
                <li>如用户在账户注销前在网站上存在违法行为或违反本条款的行为，网站仍可行使本条款所规定的权利。</li>
            </ol>
            <p>（2） 在下列情况下，网站可以通过注销用户账户的方式单方解除本条款：</p>
            <ol type="a">
                <li>在用户违反本条款相关规定时，网站有权暂停或终止向该用户提供服务。如该用户在网站暂停或终止提供服务后，再一次直接或间接或以他人名义注	册为网站用户的，则网站有权再次暂停或终止向该用户提供服务；</li>
                <li>如网站通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经网站以其他联系方式（如有）通知用	户，而用户在三个工作日内仍未能提供新的有效电子邮箱地址的，网站有权终止向该用户提供服务；</li>
                <li>一经发现用户注册信息中的内容是虚假的，网站即有权终止向该用户提供服务；</li>
                <li> 本条款修改或更新时，如用户表示不愿接受新的服务协议的，网站有权终止向该用户提供服务；</li>
                <li>网站认为需终止提供服务的其他情况。</li>
            </ol>
            <p>（3） 网站有义务在现有技术上维护整个网站的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行。网站因计算机等电子通讯设备的维护检查、交换、通信故障等原因需要暂停服务的，网站通知该等事项后可暂停或终止服务。</p>
            <p>（4） 因经营类别的转换、取消经营、合并等原因无法提供服务的，网站依据本条款通知用户该等事项后暂停或终止服务。</p>
            <h5>第六条会员注册</h5>
            <p>（1） 用户应确认本条款内容，按照网站提供的样式填写真实、准确、完整、有效的会员信息，并通过接受本条款内容方式注册成为会员。用户同意接受本条款的，本条款将适用于秀妍会与用户之间发生的所有交易。</p>
            <p>（2） 网站对于经前款规定申请会员注册的用户，如不存在下述任一事项时，应确认注册为秀妍会会员。</p>
            <ol type="a">
                <li>申请注册的用户在以往存在违反本条款约定而丧失会员资格的情况。但丧失会员资格后经过3年， 该用户再次申请注册的除外；</li>
                <li> 申请注册内容含有虚假、遗漏或错误信息的；</li>
                <li>限制民事行为人或者无民事行为人；</li>
                <li>使用他人名义申请的；</li>
                <li>以破坏社会秩序或公共利益为目的申请注册的；</li>
                <li>未满足秀妍会合理要求的其他事项的.</li>
            </ol>
            <p>（3） 秀妍会对存在如下情况的，在该等阻碍事由解除之时为止有权保留对申请注册的确认。</p>
            <ol type="a">
                <li>服务提供设备超负荷的；</li>
                <li>发生技术障碍的；</li>
                <li>其他秀妍会合理判断为必要的情况。</li>
            </ol>
            <p>（4） 会员注册完成以网站发出的确认到达用户为准。</p>
            <p>（5） 按照申请注册样式填写的用户所有信息均视为符合事实的信息，未填写真实姓名或实际信息的用户，将无法得到法律保护并且可享受的服务上也将有限制。</p>
            <p>（6） 会员在注册会员时提供的信息发生变化的，应立即以邮件或其他方式通知网站或者及时修改网站上的会员信息等方式通知网站。如会员未通知或未及时通知该等变更事项导致的损失，网站不负任何赔偿责任。</p>
            <p>（7） 注册为会员的用户在秀妍会零售店铺或网站购买产品时，按照积分规则计算积分。积分规则及其变更、积分使用方法以及积分兑换活动等将通过网站或零售店铺另行通知。</p>
            <h5>第七条会员注销或被取消资格</h5>
            <p>（1） 会员可随时向网站要求注销，网站应立即处理注销申请。</p>
            <p>（2） 会员存在如下任一事项的，网站可立即限制、中止或取消会员资格。</p>
            <ol type="a">
                <li>申请注册时提供虚假信息的；</li>
                <li>因从网站购买产品或享受其他网站服务而由会员承担的债务到期后未及时还清的；</li>
                <li>出现妨碍他人使用网站服务，或盗取网站信息等危及网站的正常运营行为的；</li>
                <li>故意阻碍服务或网站运营，或者扰乱网上交易的正常秩序；</li>
                <li>散发导致信息通讯设备的故障或信息损毁的网络病毒等行为的；</li>
                <li>严重违反本条款及其他规则的；</li>
                <li>借助电子通讯设备的故障、错误等非正常方式使用网站的；</li>
                <li>不当使用他人的个人信息、用户账户密码的</li>
                <li>利用秀妍会的服务取得的信息，未经秀妍会书面同意擅自复制、再开发或用于商业目的的；</li>
                <li>存在其他利用网站从事法律法规或本条款禁止或违反公序良俗的行为的</li>
            </ol>
            <h5>第八条订单的生效</h5>
            <p>（1） 网站对于用户的购货申请，如发生如下任一事项，有权拒绝接收。</p>
            <ol type="a">
                <li>申请内容含有虚假、遗漏或错误信息的；</li>
                <li>限制民事行为人或者无民事行为人未经监护人的同意购买的；</li>
                <li>其他订单提交后，因技术原因等网站无法控制的原因无法确认的情况。</li>
            </ol>
            <p>（2） 网站上展示的商品信息（如商品名称、价格、商品描述等）仅构成要约邀请，用户通过网站订购商品，提交订单即为购买商品的要约，只有当网站向用户发出通知确认商品已发出，或网站已将商品发送至用户指定地址时，才构成网站对该订单的承诺，此时订购合同即告成立。如果用户在一张订单中订购了多件商品，网站只向用户发出了关于其中一部分商品确认发货的通知，那么直到网站发出关于其他部分商品确认发货的通知，或网站将其他部分商品发送至用户指定地址时，关于其他部分商品的订购合同方告成立。</p>
            <p>（3） 用户同意网站在发现网站上显示的商品信息错误或缺货的情况下，有权撤回或修改该等信息，并对商品订购数量有限制权。用户提交订单即表示用户对其订单中所确认的订购商品、收货地址等信息的准确性负责。</p>
            <p>（4） 网站上显示的每一商品的价格都包含法律规定的税金，配送费用将根据网站上公布的网站配送政策和用户选择的送货方式另行计收。网站有权更改上述有关价格和配送费用的信息，而不做另行通知。</p>
            <h5>第九条支付方法</h5>
            <p>网站致力于开发多渠道的支付方式以满足用户的支付需求，如以网银转账方式支付，以借记卡、信用卡等消费卡支付，通过“支付宝”支付，兑换网站提供的优惠券、积分等促销手段支付及其他支付。</p>
            <h5>第十条配送</h5>
            <p>（1） 网站对于产品的配送日期与用户无另行约定的，在确认用户订单之日起14日内安排订单产品的包装及发货。网站可采取适当措施使用户知晓所购产品的供货及配送情况。网站出现断货情况时，将依据本协议规定的方式通知用户，配送事宜由双方另行约定。</p>
            <p>（2） 网站对用户购买的产品应明示配送方式、各环节送货费用的承担、送货期间等。如无法在约定时间配送的，网站将与用户取得联系，并和用户协商解决后续事宜。</p>
            <p>（3） 特殊情况发生时，经秀妍会事先在网站公告后可变更配送日期。</p>
            <h5>第十一条订单撤销</h5>
            <p>（1） 用户有权在下列情况下，取消订单：</p>
            <ol type="a">
                <li>经用户和网站协商达成一致的；</li>
                <li>用户订购的商品发生缺货；</li>
                <li>网站上公布的商品价格发生变化或错误，用户在网站发货之前通知网站的。</li>
            </ol>
            <p>（2） 网站在下列情况下，可以取消用户订单：</p>
            <ol type="a">
                <li>经网站和用户协商达成一致的；</li>
                <li>网站上显示的商品信息明显错误或缺货的；</li>
                <li>用户订单信息明显错误或用户订购数量超出网站备货量的。</li>
            </ol>
            <p>（3） 网站在下列情况下，亦可取消用户订单：</p>
            <ol type="a">
                <li>因不可抗力、网站系统发生故障或遭受第三方攻击，及其他网站无法控制的情形，根据网站判断需要取消用户订单的；</li>
                <li>经网站判断，用户订购行为不符合公平原则或诚实信用原则的情形（如同一用户多次无理由拒收订购商品）；</li>
                <li>按网站已经发布的或将来可能发布或更新的各类规则，可取消用户订单的其他情形。</li>
            </ol>
            <h5>第十二条撤销订单的结果</h5>
            <p>（1） 无法向用户提供其所购产品时，网站应立即向用户通知该等事项，如已收取货款的，应在约定退款之日或收取货款的7个工作日内完成退款或采取退款所必要的措施。如遇特殊情况可顺延。</p>
            <p>（2） 网站从用户处取得退还产品之日起7个工作日内依据本条款扣除相关费用后返还已收取的货款。如遇特殊情况可顺延。</p>
            <p>（3） 网站返还上述货款时，对于用户使用信用卡等结算方式支付的，应立即促使提供该等支付服务的提供商协助款项的及时处理。</p>
            <p>（4） 本条款及法律法规另有规定外，用户拒绝接受或要求退货的配送费用和银行手续费由用户承担，货款的退还在产品确认已退还后退款。</p>
            <p>（5） 用户出现皮肤过敏现象的，退货费用由网站承担，但用户应在产品接收后30日内完成退货。此时，用户应附加由市一级医院开具的证明用户是因使用其从网站购买的产品导致过敏的皮肤诊断书。如确定皮肤过敏现象为从网站购买的产品所导致的，诊断费用由网站承担。</p>
            <p>（6） 所有要求退换货的用户在归还原购买产品的同时应返还随赠的促销样品及赠品，如用户已使用该等产品的，网站则扣除对应费用后支付余款。</p>
            <h5>第十三条个人信息保护</h5>
            <p>请用户仔细阅读网站的<a href="personal_state.html">隐私声明</a>以了解隐私政策。该声明适用于访问网站，或在网站购买商品或使用网站提供的任何服务。随赠的促销样品及赠品，如用户已使用该等产品的，网站则扣除对应费用后支付余款。</p>
            <h5>第十四条网站义务</h5>
            <p>（1） 网站不得从事本条款禁止或违反公序良俗的行为，并按照本条款约定提供持续稳定的服务而努力。</p>
            <p>（2） 网站应为用户安全使用网站服务采取必要的防护措施。</p>
            <h5>第十五条会员的账户及密码保护义务</h5>
            <p>（1） 账户和密码的管理责任在于用户。</p>
            <p>（2） 会员不得将账户或密码提供第三方使用。</p>
            <p>（3） 会员发现账户及密码被盗用或被第三方使用时，应立即通知网站，并按照网站的应对原则采取措施。</p>
            <p>（4） 网站对于会员因违反第1项及第2项约定导致的会员损失不承担赔偿责任。</p>
            <h5>第十六条用户的义务·</h5>
            <p>（1） 用户不得行使下列行为，如用户发生下述行为，网站有权根据本条款以及相关法律法规规定采取必要措施。</p>
            <ol type="a">
                <li>申请注册或变更信息时，提供虚假信息；</li>
                <li>盗用他人信息；</li>
                <li>随意更改网站提示的信息；</li>
                <li>使用网站指定信息之外的信息（例如软件等）用于发送或发布；</li>
                <li>侵害网站以及其他第三方著作权等知识产权的；</li>
                <li>侵害网站以及其他第三方名誉或妨碍正常经营的；</li>
                <li>谎称为网站的运营者、职员或关联人员的；</li>
                <li>未经网站同意收集或储存其他用户个人信息的；</li>
                <li>在网站发布歪曲、暴利信息、视频、音频等其他违反公序良俗的信息的。</li>
            </ol>
            <p>（2） 用户在申请注册用户或更改会员信息时，应按照真实姓名填写相关信息，用虚假或以他人信息申请注册的不得主张任何权利。</p>
            <p>（3） 用户应遵守本条款规定的事项及其他网站规定的统一适用的规定、公告等内容以及相关法律法规，不得行使影响网站运营的行为以及毁损网站名誉的行为。</p>
            <p>（4） 如用户变更地址、联系方式、电子邮件等信息时，未及时告知网站而导致的不利后果由用户承担责任。</p>
            <p>（5） 用户未经网站的事先书面允许不得从事利用网站信息的营业活动，对该等营业活动的后果网站不承担责任。且用户因该等营业活动导致网站损失的，用户应承担赔偿责任，网站对该等用户可采取限制使用服务等合法措施。</p>
            <p>（6） 用户不得在网站发表包含以下内容的言论：</p>
            <ol type="a">
                <li>反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规的；</li>
                <li>煽动国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</li>
                <li>损害国家荣誉和利益的；</li>
                <li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                <li>任何包含对种族、性别、宗教、地域内容等歧视的；</li>
                <li>捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</li>
                <li>宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</li>
                <li>公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</li>
                <li>损害国家机关信誉的；</li>
                <li>其他违反法律法规的。</li>
            </ol>
            <p>（7） 未经网站允许，禁止用户在网站上发布任何形式的广告。</p>
            <h5>第十七条网站链接等上关责任</h5>
            <p>（1） 秀妍会网站可链接其他网站（包括文字、图片及视频等信息）。</p>
            <p>（2） 秀妍会网站对链接网站独自提供的产品和其与客户发生的交易不承担责任。</p>
            <h5>第十八条知识产权的归属及使用限制</h5>
            <p>（1） 网站制作的成果及网站信息(包括但不限于图片、文本、视频等)的相关所有权、著作权等全部知识产权属于网站。</p>
            <p>（2） 用户通过网站取得的信息中对于含有网站享有知识产权的信息，未经网站允许不得复制、发送、出版、发布或以其他方式用于盈利目的或向第三方提供。</p>
            <p>（3） 用户在指定服务界面发布的信息之著作权归用户所有，但网站为经营、展示、发送、宣传等目的无需经过用户的另行同意即可在合理范围使用该等会员发布的信息。</p>
            <p>（4） 在用户发布的信息违反公序良俗、违背网站的运营方针或涉嫌侵害第三方权益时，网站可采取强制删除等适当措施。</p>
            <h5>第十九条信息的提供</h5>
            <p>（1） 网站对于为服务的提供所需要的各种信息，通过邮件或信函或网站上公布等方式向会员发送。</p>
            <p>（2） 网站为改善服务或介绍服务内容之目的，可向会员要求增加提供个人信息。</p>
            <h5>第二十条纠纷解决</h5>
            <p>（1） 网站为处理用户的建议、意见和投诉，并为适当行使退换货制度，在网站上设置并运营专门的纠纷解决模块。</p>
            <p>（2） 网站应对用户的不满及建议事项及时处理。但如果无法及时处理的，应立即通知用户其原因和处理计划。</p>
            <p>（3） 网站与用户之间发生的交易相关纠纷可通过友好协商解决，协商不成的，向上海市嘉定区人民法院通过诉讼解决。</p>
            <h5>第二十一条责任限制和不可抗力</h5>
            <p>（1） 在法律法规所允许的限度内，因使用网站服务而引起的任何损害或经济损失，网站承担的全部责任均不超过就用户所购买的与该索赔有关的商品所实际获得的直接收益。这些责任限制条款将在法律所允许的最大限度内适用，并在用户账户被注销后仍继续有效。</p>
            <p>（2） 网站仅限在“按现状”和“按现有”的基础上，向用户提供全部的信息、内容、材料、产品（包括软件）和服务。除非另有明确的书面说明，网站不对其包含在网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的担保。</p>
            <p>（3） 不论在任何情况下，网站均不对由于互联网设备正常维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。</p>
            <h5>第二十二条实用法律</h5>
            <p>对本条款的解释及因本条款履行所发生的纠纷，均适用中华人民共和国法律法规。</p>
        </div>
    </div>
    <a href="#" class="shop_block"></a>
    <div class="footer">
        <iframe src="footer.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
</body>
</html>