<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪花秀,调和之美源于亚洲智慧</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale"/>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/index_files/favicon.ico">
    <link rel="stylesheet" href="../../public/css/product.css">
    <style>
        .container{
            padding-right: 35px;
            padding-left: 35px;
        }
        a:hover{
            text-decoration: none;
        }
    </style>

</head>
<body>

<!--这个网页时包含在哪一个网页里面的，你使用的模板是哪一个，公共区域是哪一个页面-->
{%include '../html/top.html'%}

{%block main%}
    <div class="container">
        <!--大的图片轮播部分-->
        <div class="index_topmom">
            <div class="index_top index_top_active">
                <a href=""><img src="../../public/image/index_files/1498788871497.jpg"/></a>
                <div class="index_ob" style="background: rgba(224,157,105,0.3)">
                </div>
                <img class="index_top_img" src="../../public/image/index_files/1498788871497(1).jpg" style="width: 50%">
                <div class="index_top_content">
                    <div class="index_fadeIn">
                        <a href="">
                            <h2>滋盈生人参焕颜修护霜  </h2>
                            <h2>（盈润型）  </h2>
                            <p>Concentrated Ginseng Renewing Cream EX Light</p><br/><br/>
                        </a>
                        <span>日月凝炼 人参传奇</span><br/>
                        <span>参肌焕活 青春能量</span><br/><br/><br/>
                        <a class="btn index_a" href="/admin/product_introduce">点击查看</a>
                    </div>
                </div>
            </div>
            <div class="index_top">
                <a href=""><img src="../../public/image/index_files/1498788871497(2).jpg"/></a>
                <div class="index_ob" style="background: rgba(201,202,206,0.3)">
                </div>
                <img class="index_top_img" src="../../public/image/index_files/1498788871497(3).jpg" style="width: 50%">
                <div class="index_top_content">
                    <div class="index_fadeIn">
                        <a href="">
                            <h2>焕然新“参”  </h2>
                            <h2>绽放秀美之夏  </h2>
                            <br/><br/>
                        </a>
                        <span>奢华礼献 官网独享</span><br/><br/><br/>
                        <a class="btn index_a" href="/admin/product_introduce2">点击查看</a>
                    </div>
                </div>
            </div>
            <div class="index_top">
                <a href=""><img src="../../public/image/index_files/1498788871497(4).jpg"/></a>
                <div class="index_ob" style="background: rgba(101,135,145,0.3)">
                </div>
                <img class="index_top_img" src="../../public/image/index_files/1498788871497(5).jpg" style="width: 50%">
                <div class="index_top_content">
                    <div class="index_fadeIn">
                        <a href="">
                            <h2>雪花秀凝脂玉面膜  </h2>
                            <p>Radiance Energy Mask</p><br/><br/>
                            <br/><br/>
                        </a>
                        <span>夜，玉能养颜</span><br/>
                        <span>晨，肤若凝脂</span><br/><br/><br/>
                        <a class="btn index_a" href="/admin/rec_1">点击查看</a>
                    </div>
                </div>
            </div>
            <div class="index_top">
                <a href=""><img src="../../public/image/index_files/1498788871497(6).jpg"/></a>
                <div class="index_ob" style="background: rgba(160,161,215,0.3)">
                </div>
                <img class="index_top_img" src="../../public/image/index_files/1498788871497(7).jpg" style="width: 50%">
                <div class="index_top_content">
                    <div class="index_fadeIn">
                        <a href="">
                            <h2>雪花秀滋晶雪肤美白精华露  </h2>
                            <p>Snowise EX Whitening Serum</p><br/><br/>

                        </a>
                        <span> 超*然若凝脂 滋晶润雪肤</span><br/><br/>
                        <a class="btn index_a" href="/admin/product_introduce2">点击查看</a>
                    </div>
                </div>
            </div>
            <div class="index_top">
                <a href=""><img src="../../public/image/index_files/1498788871497(8).jpg"/></a>
                <div class="index_ob" style="background: rgba(200,140,112,0.3)">
                </div>
                <img class="index_top_img" src="../../public/image/index_files/1498788871497(9).jpg" style="width: 50%">
                <div class="index_top_content">
                    <div class="index_fadeIn">
                        <a href="">
                            <h2>千年赤松活颜凝萃  </h2>
                            <h2>臻秀奢护明眸如初  </h2>
                            <p>臻秀修护多效眼霜</p><br/><br/>
                        </a>
                        <span>稀世赤松经历千年巍然屹立，任岁月洗礼而秀美如初。</span><br/>
                        <span>雪花秀臻秀修护多效眼霜，融汇源自赤松活颜凝萃DAA* </span><br/>
                        <span>尊享 独特慕斯质地，奢护眼周肌肤； </span><br/>
                        <span>更协同水解人参皂草苷，淡退眼周色斑，焕亮双眸。 </span><br/>
                        <span>从此，开启自然能量，无惧岁月痕迹，双眸重现明皙熠采。 </span><br/>
                        <span>调和之美源于亚洲智慧，雪花秀</span><br/><br/>
                        <a class="btn index_a" href="/admin/product_introduce2">点击查看</a>
                    </div>
                </div>
            </div>
            <div class="index_imgbtn">
                <a class="index_radiu index_radiu_active" href="javascript:void(0);"></a>
                <a class="index_radiu" href="javascript:void(0);"></a>
                <a class="index_radiu" href="javascript:void(0);"></a>
                <a class="index_radiu" href="javascript:void(0);"></a>
                <a class="index_radiu" href="javascript:void(0);"></a>
                <a class="index_stopbtn" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--滑动出现部分-->
        <div class="index_bottom">
            <div class="index_float index_float1">
                <a class="index_img" href="">
                    <img src="../../public/image/index_files/1499065713274.jpg">
                </a>
                <div class="index_float_left">
                    <a href="">
                        <div class="index_text">
                            <p>致美润白气垫粉底液</p>
                            <span>剔透如光 倾城绽放</span><br/>
                            <span class="index_click" style="color: #fff">点击查看</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="index_float index_float2">
                <a class="index_img" href="/html/shop">
                    <img src="../../public/image/index_files/1499152792402.jpg">
                </a>
                <div class="index_float_left" style="background: #fff">
                    <a href="/html/shop">
                        <div class="index_text" style="color: #000;margin-top: 37%">
                            <p>官网独家礼遇</p>
                            <span>奢华礼赠限时尊享<br/>匠心之作挚臻呈现</span><br/>
                            <span class="index_click" style="color: #000">点击查看</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="index_float index_float_bottom index_float3">
                <a class="index_a" href="/html/special">
                    <img src="../../public/image/index_files/1467698906078.jpg" width="100%">
                </a>
                <b>雪花秀风尚</b>
            </div>
            <div class="index_float index_float_bottom index_float4">
                <a class="index_a" href="/html/about">
                    <img src="../../public/image/index_files/1467698906078(1).jpg" width="100%">
                </a>
                <b style="color: #999;">调和之美</b>
            </div>
        </div>
    </div>
{%include '../html/footer.html'%}
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../public/js/index.js"></script>
    <script src="../../public/js/top.js"></script>
{%endblock%}
</body>
</html>